<!-- lib/thrift_box_web/components/layouts/app.html.heex -->
<main class="px-4 py-12 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl content-card"> <%!-- Добавили класс content-card --%>
    <.flash_group flash={@flash} />
    
    <%= if assigns[:inner_block] do %>
      {render_slot(@inner_block)}
    <% else %>
      {@inner_content}
    <% end %>
  </div>
</main>